.restrospective {
  @include flex-layout(column, flex-start);
  position: relative;
  width: 100%;
  min-height: 100vh;
  .top {
    width: 100%;
    margin-bottom: 1rem;
    h2 {
      @include font-style(h1);
      padding: 2rem;
      padding-bottom: 1.5rem;
    }
  }
  .bottom {
    @include flex-layout();
    flex: 1;
    width: 90%;
    height: 100%;
    margin: auto;
    @include tablet{
      margin-bottom: 2rem
    }
    ul {
      @include flex-layout(row, stretch,);
      flex: 1;
      width: 100%;
      height: 100%;
      gap: 2rem;
      padding: 2rem;
      @include tablet{
        flex-direction: column;
        padding: 0rem;
      }
      @include mobile{
        gap: 1rem;
      }
      li {
        @include glassbg(rgba(255, 255, 255, 0.7));
        @include font-style(body);
        font-weight: 500;
        flex: 1;
        width: 100%;
        min-height: 70vh;
        padding: 2rem;
        word-break: keep-all;
        @include tablet{
          padding: 1rem;
          min-height: 0;
        }
        div {
          @include flex-layout();
          @include font-style(h3);
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #2525255c;
          
          svg {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
