.aboutme {
  width: 100%;
  min-height: 100vh;
  height: auto;
  @include flex-layout(column);
  margin: 10rem 0;
  .title {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 2rem;
    margin-bottom: 5rem;
    @include flex-layout();
    @include tablet{
      margin-bottom: 3rem;
    }
    img{
      width: auto;
      height: 100%;
      max-height: 100px;

      @include mobile{
        max-height: 80px;
      }
    }
  }
  .info-wrap {
    width: 80%;
    height: 100%;
    display: block;
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 15px solid #dbba85;
    box-shadow: 0 15px 0 #897047;
    @include flex-layout(row);
    gap: 20px;
    @include tablet {
      flex-direction: column;
      padding: 1rem;
      width: 95%;
    }
    
    .character {
      width: 60%;
      max-width: 400px;
      flex: 0.5;
      @include tablet{
        max-width: 300px;;
      }
      img {
        width: 100%;
      }
    }
    .right {
      @include flex-layout(column,space-between,stretch);
      height: 100%;
      flex: 1;
      gap: 40px;
      @include tablet {
        width: 100%;
        gap: 10px;
      }
      .top {
        @include flex-layout(column);
        gap: 20px;
        height: 100%;

        .bubble {
          @include flex-layout(row, center, flex-start);
          gap: 5px;
          background-color:  #75ab64;
          padding: 1rem 3rem;
          border-radius: 20px;

          p {
            @include font-style(h2);
            color: #fff;
          }
          svg {
              height: 0.7rem;
              @include tablet {
                height: 0.4rem;
              }
            }
          svg:nth-child(1) {
            transform: scaleX(-1);
          }
        }
        p {
          @include font-style(body);
          color: #6f5346;
          word-break: keep-all;
          span {
            @include font-style(body);
            color:  #75ab64;
            font-weight: 900;
            word-break: keep-all;
          }
        }
      }
      .bottom {
        @include flex-layout(row, space-between, flex-start);
        width: 100%;
        height: 100%;
        gap: 50px;
        @include tablet {
          gap: 10px;
        }
        @include mobile {
          flex-direction: column;
        }
        .like {
          flex: 0.5;
          @include flex-layout(column,center, flex-start);
          gap: 20px;
          height: 100%;
          @include tablet {
            width: 80%;
            gap: 10px;
          }
          p {
            @include font-style(h3);
            color: #6f5346;
          }
          .item-wrap {
            @include flex-layout(row, space-between);
            gap: 20px;
            height: 100%;
            .item {
              @include flex-layout(column, space-between);
              height: 100px;
              svg {
                color: #75ab64;
                font-size: 4rem;
              }
              &:nth-child(3) svg {
                margin-top: 0.2rem;
                font-size: 3.5rem;
              }
              p {
                @include font-style(body);
              }
            }
          }
        }
        .exp {
          color: #6f5346;
          @include font-style(h3);
          flex: 1;
          @include flex-layout(column,center, flex-start);
          gap: 20px;
          width: 100%;
          height: 100%;
          @include tablet{
            gap: 10px;
          }
          .item-wrap {
            width: 100%;
            .item {
              width: 100%;
              @include flex-layout(row, space-between);
              p {
                @include font-style(body);
              }
            }
          }
        }
      }
    }
  }
}
