.contcatme {
  position: relative;
  width: 100%;
  height: 150vh;
  // background: linear-gradient(to bottom, #325029, #2c3672);

  @include tablet{
    height: 110vh;
  }
  @include mobile {
    min-height: 100vh;
    height: auto;
  }
  .img-wrap {
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
    }
    .back {
      width: 100%;
      bottom: 0;
    }

    .title {
      top: 5%;
      width: 90%;
      max-width: 800px;
      position: absolute;
      @include mobile{
        top: 10%;
      }
    }

    .star {
      top: 5%;
      mix-blend-mode: color-dodge;
      object-fit: cover;
    }

    .fire {
      width: 40%;
      bottom: 3%;
    }
  }
  .txt-wrap {
    @include flex-layout(column);
    gap: 2rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    min-width: 400px;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba($color: #398a42, $alpha: 0.5);
    @include tablet{
      top: 25%;
    }
    @include mobile{
      top: 40%;
      transform: translate(-50%, -50%);
    }
    p {
      color: #fff;
      text-align: center;
      @include font-style(h4);
      word-break: keep-all;
      font-family: "Ownglyph_ParkDaHyun", sans-serif;
    }
    ul {
      width: 100%;
      @include flex-layout(row, space-around);
      li {
        @include flex-layout(row, flex-start);
        width: fit-content;
        gap: 0.5rem;
        text-align: left;
        svg {
          color: #fff;
          font-size: 1.3rem;
        }
        p{
          @include font-style(body);
        }
      }
    }
  }
}
