.cover {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #d3ce8b;

  .title-container {
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    color: #ffffff;
    z-index: 100;
    text-shadow: 0 0px 30px rgba(0, 0, 0, 0.6);
    max-width: 1024px; /* 최대 너비를 1024px로 설정 */
    width: 90%; /* 화면이 작아질 때 유동적으로 너비가 줄어들도록 % 단위 사용 */

    .title-top {
      @include flex-layout(row, space-between);
      gap: 1rem;
      padding: 0 1rem;
      opacity: 0;
      transform: translateY(20px); /* GSAP y: 0으로 돌아갈 위치와 일치하도록 */

      .left-text,
      .right-text {
        font-size: clamp(16px, 2vw, 30px);
        font-weight: 700;
      }

      .divider {
        flex-grow: 1;
        border: none;
        border-top: 1px solid white;
        margin: 0 1rem;
      }
    }

    .main-title {
      font-family: "Chelsea Market", sans-serif;
      font-weight: bold;
      width: 100%;
      @include flex-layout();
      span {
        display: inline-block; // 글자별 애니메이션 위해
        font-size: clamp(40px, 10vw, 200px);
        opacity: 0;
        transform: translateY(50px) scale(0.5); /* GSAP y: 0, scale: 1로 돌아갈 위치와 일치하도록 */
        margin: 10px;
      }
    }
  }
  .cat-img {
    transform: scale(0.6) translateX(-80%);
    position: absolute;
    left: 50%;
    bottom: 3rem;
    z-index: 10;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: calc(3840px * 3);
    height: 100%;
    font-size: 0;

    img {
      width: 3840px;
      height: 100vh;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      display: block;
      &:nth-child(2) {
        transform: scaleX(-1);
      }
    }
  }

  .back1 {
    // 제일 위
    z-index: 11;
  }
  .back2 {
    // 제일 아래
    z-index: 11;
  }
  .back3 {
    // 뒷배경
    z-index: 1;
  }
  .back4 {
    // 땅
    z-index: 2;
  }

  .scroll-down {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  @include flex-layout(column);
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  z-index: 1000;
  background-color: #6F5346;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  .scroll-down-icon {
    font-size: 2rem; // 아이콘 크기
    margin-top: 0.3rem;
  }
}

}
