.main-project {
  width: 100%;
  height: 100vh;
  position: relative;
  .title {
    width: 100%;
    position: absolute;
    top: -30px;
    z-index: 100;
    display: block;
    svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 700px;
      height: 250px;
    }
    h3 {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 50%;
      top: 5rem;
      transform: translateX(-50%);
      color: #6f5346;
      font-family: "Chelsea Market", sans-serif;
      font-size: 72px;
      z-index: 10;
    }
  }
  .item-wrap {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .item {
      @include flex-layout(row, space-between);
      background-color: #fff;
      border-radius: 24px;
      padding: 20px;
      
      .left {
        img{
          width: 350px;
        }
      }
      .right {
        p{
          color: #6f5346;
          font-size: 32px;
          font-weight: 800;
          &:nth-child(2){
            font-size: 24px;
            font-weight: 600;
          }
        }
        .icon-list {
          @include flex-layout(row, flex-end);
          gap: 0.5rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
