.map-wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include flex-layout();
  @include tablet{
    height: 70vh;
  }
  .map {
    width: 90%;
  }
  .map-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .hover-area {
    position: absolute;
    width: 5%;
    height: auto; /* 높이는 자동으로 비율 유지 */
    aspect-ratio: 1 / 1; /* 정사각형 비율 */
    max-width: 70px;
    max-height: 70px;
    background: rgba(255, 0, 0, 0.2); // 테스트용, 실제는 투명해도 됨
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 0, 0, 0.4);
    }
  }
  .map{
    width: 90%;
    max-width: 1500px;
  }
  .map-info {
    position: absolute;
    left: 50%;
    top: 10%;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
    font-family: "Chelsea Market", sans-serif;
    border: 15px solid #dbba85;
    box-shadow: 0 15px 0 #897047;

    &.active {
      opacity: 1;
    }

    h2 {
      margin-bottom: 0.5rem;
      color: #6F5346;
      font-size: clamp(20px, 3vw, 35px);
    }

    ul {
      padding-left: 1.2rem;

      li {
        margin-bottom: 0.3rem;
        color: #9F806B;
        font-size: clamp(16px, 3vw, 20px);
      }
    }
  }
}
