
.project-page {
  width: 100%;
  min-height: 100vh;
}

.project-section {
  position: relative;
  min-height: 100vh; // 프로젝트별 풀스크린
  display: flex; // 가로 배열
  @include tablet{
    flex-direction: column; // 모바일: 세로로 쌓임s
  }
}

.page {
  flex: 0 0 100vw; // 한 화면 크기
  width: 100%;
  @include tablet{
    flex: 1 1 auto;  // 내용 기준으로 높이 자동
    width: 100%;     // 화면 전체 너비
  }
}
