.skill {
  width: 100%;
  min-height: 100vh;
  height: auto;
  @include flex-layout(column, space-around);
  margin: 2rem 0;
  .title {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 2rem;
    margin-bottom: 20px;
    @include flex-layout();
    img{
      width: 100%;
      height: auto;
      max-width: 1000px;
    }
  }
  .item-wrap {
    width: 80%;
    display: block;
    max-width: 1600px;
    min-height: 700px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 15px solid #dbba85;
    box-shadow: 0 15px 0 #897047;
    gap: 6%;
    opacity: 1;
    @include flex-layout(row, center, stretch);
    @include tablet {
      flex-direction: column;
      padding: 1rem;
      width: 95%;
      align-items: center;
      top: 85%;
    }
    @include mobile {
      top: 85%;

    }
    .left {
      @include flex-layout(column,space-between);
      @include tablet{
          flex-direction: row;
          gap: 20px;
        }
      .bubble {
        background-color: #fff;
        width: fit-content;
        padding: 20px 40px;
        border-radius: 5rem;
        position: relative;
        
        p {
          font-family: "Ownglyph_ParkDaHyun";
          font-size: 45px;
          color: #6f5346;
          text-align: center;
          word-break: keep-all;
          @include tablet {
            font-size: 30px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%; // 꼬다리 위치 조정
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-top-color: #fff; // 꼬다리 색상 (말풍선 배경색)
          border-bottom: 0;
          margin-left: -15px;
          margin-bottom: -15px;
          @include tablet {
            display: none;
          }
        }
      }
      .character {
      width: 100%;
      max-width: 700px;
      @include tablet{
        max-width: 300px;
      }
      @include mobile{
        max-width: 280px;
      }
      img {
        width: 100%;
      }
    }
    }
    .right {
      .icon-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        flex: 1;
        .icon-item {
          @include flex-layout(column);

          svg {
            width: 170px;
            height: 170px;
            @include tablet{
              width: 100px;
              height: 100px;
            }
          }

          p {
            font-size: 24px;
            font-weight: 700;
            color: #6f5346;
            text-align: center;
          }
        }
      }
    }
  }
}
